

##Example env

NODE_ENV 
PORT
LOG_LEVEL 
APP_NAME
DATABASE_URL

ACCESS_TOKEN_SECRET=your-super-secret-access-key
ACCESS_TOKEN_EXPIRES_IN=15m

REFRESH_TOKEN_SECRET=your-super-secret-refresh-key
REFRESH_TOKEN_EXPIRES_IN=7d

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_FROM=your-email@gmail.com