

##Example env

NODE_ENV 
PORT
LOG_LEVEL 
APP_NAME
DATABASE_URL

ACCESS_TOKEN_SECRET=your-super-secret-access-key
ACCESS_TOKEN_EXPIRES_IN=15m

REFRESH_TOKEN_SECRET=your-super-secret-refresh-key
REFRESH_TOKEN_EXPIRES_IN=7d