NODE_ENV=development 
PORT=7001
LOG_LEVEL=info 
APP_NAME=server-template

# DATABASE_URL="postgresql://postgres:1234@127.0.0.1:5432/nodejs-app"
DATABASE_URL="postgresql://postgres:1234@localhost:5432/server_template"

ACCESS_TOKEN_SECRET=your-super-secret-access-key
ACCESS_TOKEN_EXPIRES_IN=15m

REFRESH_TOKEN_SECRET=your-super-secret-refresh-key
REFRESH_TOKEN_EXPIRES_IN=7d

SALT_LENGTH=16
KEY_LENGTH=64

# default admin data
# email: admin@gmail.com, password: Password@123
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD_HASH=e1ec9a2458e9414972aeebdbda72135160a83164e282a35d642e4a03f6938acf8bba9bba758840a0f300c3e15178e24a3439856932b89494e05b9740e5a7af3d 
ADMIN_PASSWORD_SALT=f5237b635f37803fbc96365a1f1188d8

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=v
MAIL_PASSWORD=
MAIL_FROM=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=1234

QUEUE_CONCURRENCY=5
QUEUE_ATTEMPTS=3
QUEUE_BACKOFF_DELAY=1000

STORAGE_PROVIDER=local
STORAGE_LOCAL_DESTINATION=storage
STORAGE_MAX_FILE_SIZE=5242880
STORAGE_S3_ENDPOINT=
STORAGE_S3_REGION=ap-south-1
STORAGE_S3_BUCKET=
STORAGE_S3_ACCESS_KEY=
STORAGE_S3_SECRET_KEY=
STORAGE_CLOUDINARY_CLOUD_NAME=
STORAGE_CLOUDINARY_API_KEY=
STORAGE_CLOUDINARY_API_SECRET=

OAUTH_GOOGLE_CLIENT_ID=your-client-id
OAUTH_GOOGLE_CLIENT_SECRET=your-client-secret
OAUTH_GOOGLE_CALLBACK_URL=http://localhost:7001/api/auth/google/callback